<%- partial('common/header',{title:title,cssSrc:[1]}) %>
<%- partial('common/layout_header',{}) %>
<!-- 页面内容 -->
<div class="container">
<%- JSON.stringify(data) %>
</div>
<%- partial('common/layout_footer',{}) %>
<%- partial('common/footer',{jsSrc:[]}) %>