<%- partial('common/header',{title:title,cssSrc:[]}) %>
<%- partial('common/layout_header',{}) %>
<!-- 页面内容 -->
<div class="container">
	<section id="hot_product"></section>
	<section id=""></section>
	<section id="new_list"></section>
	<section id="brand_list">
		<%- partial('brand_street',{data:data}) %>
	</section>
</div>

<%- partial('common/layout_footer',{}) %>
<%- partial('common/footer',{jsSrc:[]}) %>