<%- partial('common/header',{title:title,cssSrc:[]}) %>
<%- partial('common/layout_header',{}) %>
<%- partial('common/menu',{}) %>
<!-- 页面内容 -->
<div class="container tab_container">
	<section id="hot_sales"></section>
	<section id="integral_exchange"></section>
	<section id="new_list">

	</section>
	<section id="brand_list"></section>
</div>

<%- partial('common/layout_footer',{}) %>
<%- partial('common/footer',{jsSrc:[]}) %>